body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.input-file {
  height: 200px;
  border: 1px solid red;
}
canvas {
  /* height: 100%;
  width: 100%; */
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.preview-download {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f188;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(201, 201, 201);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
